h3 Instant savings and deals up to 70% off? &mdash; SIGN UP!
small Newsletter | Contact | Jobs | Shipping | Warranty & Returns | About Us | Privacy | Mailing list
br
br
a(href='http://pinterest.com/cadencewatch', style="margin-right: 10px", target='_blank')
  img(src='http://media.cadencewatch.com/media/wysiwyg/pinterest.png', alt='', height='40')
a(href='http://www.facebook.com/cadencewatch', target='_blank')
  img(src='http://media.cadencewatch.com/media/wysiwyg/fb.jpg', alt='', height='40')
a(href='http://www.reddit.com/r/cadencewatch', target='_blank')
  img(src='http://media.cadencewatch.com/media/wysiwyg/reddit-alien.jpg', alt='', height='40')
a(href='http://twitter.com/cadencewatch', style="margin-right: 10px",  target='_blank')
  img(src='http://media.cadencewatch.com/media/wysiwyg/twitter_icon.jpg', alt='', height='40')
a(href='http://cadencewatch.tumblr.com', target='_blank')
  img(src='http://media.cadencewatch.com/media/wysiwyg/tumblr-logo.png', alt='', height='40')
