.pure-r
  .pure-u-1-1
    .top-nav(style="position: absolute; right: 25; top: 15")
      span Cart 
      small(style="margin-right:5px; font-size:14px") (0 items)
      span Log In
      br
      input.search(type="text", placeholder="Search entire store")
    a(href="index.html")
      img(src="img/logo.png", style="margin-bottom: 15px")
    br
    span(style="word-spacing: 20px")
     | reddit MFA Digby Math/Science 4:20 ZEROne Straps
    //- br
    //- input.search(type="text", placeholder="Search entire store")