extends base

block title
  title cadence

block content
  .pure-row(style="margin-bottom: 50px;margin-top:-50px")
    .pure-u
      img(src="img/cta.jpg")
  .product-row.pure-g-r(style="margin-top: -25px")
    .pure-u-1-5
      .product-thumbnail
        a(href="product-view.html")
          span CoolWatch 5000
          br
          img(src="img/watches/1-small.jpg")
          br
          span $250
    .pure-u-1-5
      .product-thumbnail
        a(href="product-view.html")
          span Derp Delux
          br
          img(src="img/watches/2-small.jpg")
          br
          span $200
    .pure-u-1-5
      .product-thumbnail
        a(href="product-view.html")
          span RetroStyler 2.0
          br
          img(src="img/watches/3-small.jpg")
          br
          span $300
    .pure-u-1-5
      .product-thumbnail
        a(href="product-view.html")
          span CoolWatch 5000
          br
          img(src="img/watches/1-small.jpg")
          br
          span $250
    .pure-u-1-5
      .product-thumbnail
        a(href="product-view.html")
          span Derp Delux
          br
          img(src="img/watches/2-small.jpg")
          br
          span $200