extends base

block title
  title Brixton :: cadence

block content
  .pure-g-r
    .product-detail.pure-u-3-5
      .pure-g
        .pure-u-2-3
          img#detail-img(src="img/watches/1-large.png")
          .product-alternate-images
            img(src="img/watches/1-large.png")
            img(src="img/watches/1-alt-1.jpg")
            img(src="img/watches/1-alt-2.jpg")
        .pure-u-1-3
          span.product-name(style="font-weight:300") Brixton
          .availability(style="display:inline")
            small(style="font-weight:600") Availability: 
            small(style="color:rgb(213, 9, 9)") Sold out
          .price
            span $250
          p(style="font-size:14px")
            | A modern classic, the Brixton has a large, masculine gold-plated case with antique champagne-cream face to make a distinguished addition to any gentleman's wardrobe.

    .product-sidebar.pure-u-1-5
      h4(style="margin-bottom: -15px") Recently Viewed
      ul(style="display:inline; list-style-type: none")
        li Franklin
        li Baxter
        li Bit Exclusive
      h4(style="margin-bottom: 5px") Cart
      small No items.
  .pure-g-r
    .pure-u
      .product-info
        h3 Details
        p
          The Digby Collection is a new line of Cadence Watches designed for the younger generation males who are aspiring professionals that care about how they look no matter the occasion.
        h3 Technical Specifications
        p
          ul
            li Gold stainless-steel 42mm case;Gold stainless-steel back and bezel
            li Champagne dial, gold index, and red tracks
            li Black leather strap with Gold buckle
            li Water- and shock-resistant to 3ATM
            li Japanese Miyota 2035 movement
            li Three-year SR626SW battery